body {
    font-family: 'Piazzolla', serif;
    z-index: 1;
}

.header {
    background-color: black;
    color: white;
    position: sticky;
    top: 0vw;
    z-index: 2;
}

.heading {
    font-family: 'Pacifico', cursive;
    font-size: 3vw;
    text-align: center;
}

.subheading {
    font-family: 'Pacifico', cursive;
    font-size: 1.5vw;
}

.main {
    width: 50%;
    margin: 2vw auto;
}

.has-search {
    margin-top: 2vw;
    margin-bottom: 0;
}

.news {
    box-shadow: 2px 2px lightgrey;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-top: 1vw;
    height: 15vw;
}

.news-title {
    font-size: 1.25vw;
}

.featured-image {
    float: left;
    margin-right: 1vw;
    margin-top: 1vw;
    height: 11vw;
}

.news-content {
    font-size: 1vw;
    padding-top: 1vw;
}

#latest-data {
    margin-top: 1vw;
    height: 30vw;
    overflow: auto;
}

.latest-news {
    box-shadow: 2px 2px lightgrey;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-bottom: 1vw;
}

.loading {
	opacity: 0;
	display: flex;
	transform: translateX(-50%);
	transition: opacity .3s ease-in;
}

.featured-loading {
	position: fixed;
	top: 50%;
	left: 35%;
}

.latest-loading {
	position: fixed;
	top: 50%;
	right: 20%;
}

.loading.show {
	opacity: 1;
}

.ball {
	background-color: #777;
	border-radius: 50%;
	margin: 5px;
	height: 10px;
	width: 10px;
	animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
	animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
}